html{
    background: #490304;
    max-width: 100%;
    height: 100%;
    font-family: "Manrope", sans-serif;
}

body{
    margin: 0;
}

#logo{
    background: #fcf9cc;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 60px;
    top: 0;
}

#logoJS img{
    height: 60px;
}

#cover{
    width: 100%;
    margin: 0;
    padding: 0;
}

#navigation{
    list-style-type: none;
    display: flex;
    float: right;
    position: relative;
    top: -19px;
    height: 78px;
    background: #fcf9cc;
}

#navigation a{
    color: #490304;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 3px;
    background: #fcf9cc;
}

#navigation a:hover{
    cursor: pointer;
    background: #490304;
    color: #fcf9cc;
}

#current{
    background: #490304;
    color: #fcf9cc;
}

a h3{
    font-weight: bold;
    padding: 24px;
}

.tail {
    text-align: center;
    font-size: 14pt;
    margin: 0;
    font-weight: bold;
}
#tail{
    color: #fcf9cc;
    margin: 10px 0 0;
}

/* Vinariija css */

#wrapper{
    display: flex;
    flex-direction: row;
    float: left;
}

#winery_info{
    flex-grow: 1;
    overflow-y: auto;
    margin: auto 10px;
    border: 3px solid transparent;
    padding: 10px;
    color: #fcf9cc;
    text-align: center;
    font-family: Tahoma, sans-serif;
    max-width: 450px;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 90px;

}

h4, p{
    display: inline-block;
    margin: 0;
    padding-bottom: 10px;
}
ul li{
    list-style: none;
}

#map{
    width: 800px;
    height: 865px;
    position: fixed;
    left: 594px;
    top: 143px;
   
    /* display: flex;
    justify-content: center;
    width: 100px; */
}

ul{
    list-style-type: square;
}

/* Komentari */

#commento{
    background: #fcf9cc;
    color: #490304;
    margin-top: 15px;
    text-align: left;
    padding-bottom: 10px;
    width: 100%;
}

#commento button{
    float: right;
    background: #490304;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
    color: #fcf9cc;
}

#commento .commento-sort-policy-buttons-container .commento-sort-policy-buttons .commento-sort-policy-button-selected {
    color: #1971c2;
    font-weight: 700;
}
.far{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 5px;
}
#how_far{
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #fcf9cc;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    #wrapper {
        flex-direction: column;
        margin-left: 10px;
        margin-top: 190px;
    }

    #winery_info {
        max-width: 100%;
        position: relative;
        top: 200px;
        left: 0;
    }

    #map {
        width: 100%;
        height: 300px;
        position: relative;
        left: 8px;
        top: -30px;
    }

    #tail{
        color: #490304;
        background: #fcf9cc;
        width: 100%;
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }

    #winery_info{
        left: -8px;
        margin: 0;
        top: -30px;
    }

    h4 p{
        padding-bottom: 5px;
    }

    ul{
        margin-right: 40px;
    }

    #logo{
        flex-direction: column;
        display: flex;
        text-align: center;
    }

    #navigation{
        top: -8px;
        height: 93px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    #current{
        height: 30px;
    }

}